{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid vh-100 d-flex align-items-center">
        <div class="container">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-8" style="padding-right: 0;">
                        {{ form_widget(form.url) }}
                    </div>
                    <div class="col-4" style="padding-left: 0;">
                        <div class="btn-toolbar" role="toolbar">
                            {{ form_widget(form.submitAudio) }}
                            {{ form_widget(form.submitVideo) }}
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
